@model ParkingSpotModel;

@{
    ViewData["Title"] = "ParkingSpotRegistration";
    ViewBag.PageTitle = "Registration Parking Spot";
}


<div class="container-fluid">
    <div>
        <form asp-controller="home" asp-action="CreateParkingSpot" method="post">
            <input type="hidden" name="id" asp-for="Id" />
            <div class="mb-3">
                <label for="ParkingSpotNumber" class="form-label" asp-for="ParkingSpotNumber">Parking Spot Number</label>
                <input class="form-control" type="text" asp-for="ParkingSpotNumber" Id="ParkingSpotNumber" placeholder="PS-001" autocomplete="off" required />
            </div>
            <div class="mb-3">
                <label for="ParkingSpotType" class="form-label">Select Parking Spot</label>
                <select id="ParkingSpotType" class="form-select" asp-for="ParkingSpotType" asp-items="Html.GetEnumSelectList<ParkingSpotTypesEnum>()" required>
                    <option value="">Select</option>
                </select>
            </div>
            <button class="btn btn-outline-success mt-3" type="submit">Submit</button>
        </form>
    </div>
</div>
