<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Parking Reservation System</title>

    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        
    </environment>
    <style>
        .modal-backdrop {
            opacity: 0.5 !important;
        }

        .page-title-header {
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: lemonchiffon;
            border-bottom: 3px solid whitesmoke;
        }

    </style>
</head>
<body style="padding-top: 0px;">
    <partial name="_CookieConsentPartial" />
    <h2 class="page-title-header">Parking Management System</h2>
    <div class="container" style="margin-left: 30px;">

        <div class="row">
            <!-- Start Sidebar -->
            <div class="col-3" style="padding-top: 7px; padding-left: 0px;">
                <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
                    <div class="position-sticky">
                        <div class="list-group list-group-flush mx-3 mt-4">
                            <a style="padding-left: 5px;" asp-controller="home" asp-action="GetHomePage" class="list-group-item list-group-item-action py-2 ripple"><i class="bi bi-house fa-fw me-3"></i><span>Home Page</span></a>
                            <a style="padding-left: 5px;" asp-controller="home" asp-action="CreateParkingSpot" class="list-group-item list-group-item-action py-2 ripple"><i class="bi bi-plus-circle fa-fw me-3"></i><span>Create New Parking Spot</span></a>
                            <a style="padding-left: 5px;" asp-controller="home" asp-action="GetParkingReservation" class="list-group-item list-group-item-action py-2 ripple"><i class="bi bi-arrow-bar-right fa-fw me-3"></i><span></span>Reserve Parking Spot</a>
                            <a style="padding-left: 5px;" asp-controller="home" asp-action="checkOut" class="list-group-item list-group-item-action py-2 ripple"><i class="bi bi-arrow-bar-left fa-fw me-3"></i><span>Check Out</span></a>
                            <a style="padding-left: 5px;" asp-controller="home" asp-action="ParkingSpotList" class="list-group-item list-group-item-action py-2 ripple"><i class="bi bi-card-list fa-fw me-3"></i><span>Parking Spot List</span></a>
                            <a style="padding-left: 5px;" href="#" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-calendar fa-fw me-3"></i><span>Daily Report One</span></a>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- End Sidebar -->
            <!-- Start Body Content -->
            <div class="col-9" style="padding-top: 7px;">
                <!-- Start Page Title -->
                <h4 class="p-2">@ViewBag.PageTitle</h4>
                <hr />
                <!-- End Page Title -->

                @RenderBody()
            </div>
            <!-- End Body Content -->
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>

</html>
